@page "/users"
@attribute [StreamRendering]

@inject IUsersCollectionViewModel viewModel

<PageTitle>Users</PageTitle>

<h1>Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input @bind="viewModel.UserToAdd.Name" class="form-control" placeholder="Name" />
            </td>
            <td>
                <button @onclick="viewModel.AddUser">Add</button>
            </td>
        </tr>
        @foreach (var user in viewModel.Users)
        {
            <User viewModel="user"/>
        }
    </tbody>
</table>