@page "/projects"
@attribute [StreamRendering]

@inject IEntityCollectionViewModel<IProject> viewModel

<PageTitle>Projects</PageTitle>

<h1>Projects</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Abbreviation</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input @bind="viewModel.EntityToAdd.Name" class="form-control" placeholder="Name" />
            </td>
            <td>
                <input @bind="viewModel.EntityToAdd.Abbreviation" class="form-control" placeholder="Abbreviation" />
            </td>
            <td>
                <button @onclick="viewModel.SaveEntity">Add</button>
            </td>
        </tr>
        @foreach (var project in viewModel.Entities)
        {
            <ProjectRow viewModel="project"/>
        }
    </tbody>
</table>