@page "/teams"
@attribute [StreamRendering]

@inject ITeamsCollectionViewModel viewModel

<PageTitle>Teams</PageTitle>

<h1>Teams</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Parent</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input @bind="viewModel.EntityToAdd.Name" class="form-control" placeholder="Name" />
            </td>
            <td>
                <input @bind="viewModel.TeamToAdd.ParentId" class="form-control" placeholder="Name" />
            </td>
            <td>
                <button @onclick="viewModel.AddEntity">Add</button>
            </td>
        </tr>
        @foreach (var team in viewModel.Entities)
        {
            <TeamRow viewModel="team"/>
        }
    </tbody>
</table>