@code {
    [Parameter, EditorRequired]
    public IOwnedEntityViewModel<IComment> viewModel { get; set; } = null!;
}

<tr>
    <td>
        @viewModel.Owner.Name
    </td>

    <td>
        @viewModel.Entity.CreatedAt
    </td>

    <td>
        @viewModel.Entity.Text
    </td>

    <td>
        <NavLink href=@($"comments/{viewModel.Id}")>
            <button>Open</button>
        </NavLink>
    </td>
</tr>  