@code {
    [Parameter, EditorRequired]
    public IEntityViewModel<IProject> viewModel { get; set; } = null!;
}

<tr>
    <td>
        @viewModel.Entity.Name
    </td>
    <td>
        @viewModel.Entity.Abbreviation
    </td>
    <td>
        <NavLink href=@($"projects/{viewModel.Id}")>
            <button>Open</button>
        </NavLink>
    </td>
</tr>