@code {
    [Parameter, EditorRequired]
    public IEntityViewModel<ITeam> viewModel { get; set; } = null!;
}

<tr>
    <td>
        @viewModel.Entity.Name
    </td>
    <td>
        @viewModel.Parent?.Name
    </td>
    <td>
        <NavLink href=@($"teams/{viewModel.Id}")>
            <button>Open</button>
        </NavLink>
    </td>
</tr>