@page "/projects/{id:int}"
@attribute [StreamRendering]

@inject IEntityPageViewModel<IProject> viewModel

@code
{
    [Parameter]
    public int Id { get; set; }

    protected override Task OnInitializedAsync()
    {
        viewModel.Id = (uint)Id;
        return base.OnInitializedAsync();
    }
}

<PageTitle>Project</PageTitle>

@if(!viewModel.IsLoaded)
{
    <p>Loading...</p>
}
else
{

    <h1>@viewModel.Entity.Name</h1>

    @if (!viewModel.IsEditing)
    {
        <p>
            Name:
            @viewModel.Entity.Name

        </p>
        <p>
            Abbreviation:
            @viewModel.Entity.Abbreviation

        </p>
        <p>
            <button @onclick="viewModel.Edit">Edit</button>
        </p>
    }
    else
    {
        <p>
            Name:
            <input @bind="viewModel.Entity.Name" class="form-control" placeholder="Name" />

        </p>
        <p>
            Abbreviation:
            <input @bind="viewModel.Entity.Abbreviation" class="form-control" placeholder="Abbreviation" />
        </p>
        <p>
            <button @onclick="viewModel.Save">Save</button>
            <button @onclick="viewModel.Cancel">Cancel</button>
        </p>
    }
    <p>
        <button @onclick="viewModel.Delete">Delete</button>
    </p>
}