@page "/teams/{id:int}"
@attribute [StreamRendering]

@inject ITeamPageViewModel viewModel

@code
{
    [Parameter]
    public int Id { get; set; }

    protected override Task OnInitializedAsync()
    {
        viewModel.Id = (uint)Id;
        return base.OnInitializedAsync();
    }
}

<PageTitle>Team</PageTitle>

@if(!viewModel.IsLoaded)
{
    <p>Loading...</p>
}
else
{

    <h1>@viewModel.Entity.Name</h1>

    @if (!viewModel.IsEditing)
    {
        <p>
            Name:
            @viewModel.Entity.Name

        </p>
        <p>
            Parent:
            @if(viewModel.Parent == null)
            {
                <span>Empty</span>
            }
            else
            {
                @viewModel.Parent?.Name
            }

        </p>
        <p>
            <button @onclick="viewModel.Edit">Edit</button>
        </p>

        <UserCollection viewModel="viewModel.UserCollection" />

        <TeamCollection viewModel="viewModel.ChildrenCollection" />
    }
    else
    {
        <p>
            Name:
            <input @bind="viewModel.Entity.Name" class="form-control" placeholder="Name" />

        </p>
        <p>
            Parent:
            <SfDropDownList TItem="KeyValuePair<uint?, string>" TValue="uint?"
                            DataSource="viewModel.ParentIdNames"
                            @bind-Value="viewModel.Entity.ParentId"
                            Placeholder="Select Parent">

                <DropDownListFieldSettings Text="Value" Value="Key">
                </DropDownListFieldSettings>


            </SfDropDownList>

        </p>
        <p>
            Members:
            <SfMultiSelect TValue="List<User>" TItem="User"
                            DataSource="viewModel.UsersSource"
                            @bind-Value="viewModel.Users"
                            Placeholder="Members">

                <MultiSelectFieldSettings Text="Name">
                </MultiSelectFieldSettings>


            </SfMultiSelect>

        </p>
        <p>
            <button @onclick="viewModel.Save">Save</button>
            <button @onclick="viewModel.Cancel">Cancel</button>
        </p>
    }
    <br />
    <p>
        <button @onclick="viewModel.Delete">Delete team</button>
    </p>
}