@page "/teams/{id:int}"
@attribute [StreamRendering]

@inject IEditableTeamViewModel viewModel

@code
{
    [Parameter]
    public int Id { get; set; }

    protected override Task OnInitializedAsync()
    {
        viewModel.Id = (uint)Id;
        return base.OnInitializedAsync();
    }
}

<PageTitle>Team</PageTitle>

<h1>@viewModel.Entity.Name</h1>

@if(!viewModel.IsLoaded)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Parent</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (!viewModel.IsEditing)
            {
                <tr>
                    <td>
                        @viewModel.Entity.Name
                    </td>
                    <td>
                        @viewModel.Parent?.Name
                    </td>
                    <td>
                        <button @onclick="viewModel.Edit">Edit</button>
                        <button @onclick="viewModel.Delete">Delete</button>
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>
                        <input @bind="viewModel.Entity.Name" class="form-control" placeholder="Name" />
                    </td>
                    <td>
                        <SfDropDownList TItem="KeyValuePair<uint?, string>" TValue="uint?"
                                        DataSource="viewModel.ParentIdNames"
                                        @bind-Value="viewModel.Entity.ParentId"
                                        Placeholder="Select Parent">

                            <DropDownListFieldSettings Text="Value" Value="Key">
                            </DropDownListFieldSettings>


                        </SfDropDownList>
                    </td>
                    <td>
                        <button @onclick="viewModel.Save">Save</button>
                        <button @onclick="viewModel.Cancel">Cancel</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}