@page "/users/{id:int}"
@attribute [StreamRendering]

@inject IUserPageViewModel viewModel

@code
{
    [Parameter]
    public int Id { get; set; }

    protected override Task OnInitializedAsync()
    {
        viewModel.Id = (uint)Id;
        return base.OnInitializedAsync();
    }
}

<PageTitle>Team</PageTitle>

@if(!viewModel.IsLoaded)
{
    <p>Loading...</p>
}
else
{

    <h1>@viewModel.Entity.Name</h1>

    @if (!viewModel.IsEditing)
    {
        <p>
            Name:
            @viewModel.Entity.Name

        </p>
        <p>
            <button @onclick="viewModel.Edit">Edit</button>
        </p>

        <br />

        @if (viewModel.TeamCollection.Entities.Count > 0)
        {
            <h1>Teams</h1>
            <TeamCollection viewModel="viewModel.TeamCollection" />
        }
        else
        {
            <p>This user is not a member of any team</p>
        }

        @if (viewModel.CreatedTicketCollection.Entities.Count > 0)
        {
            <h3>Created tickets</h3>
            <TicketCollection viewModel="viewModel.CreatedTicketCollection" />
        }
        else
        {
            <p>There are no tickets created by this user</p>
        }

        @if (viewModel.AssignedTicketCollection.Entities.Count > 0)
        {
            <h3>Assigned tickets</h3>
            <TicketCollection viewModel="viewModel.AssignedTicketCollection" />
        }
        else
        {
            <p>There are no tickets assigned to this user</p>
        }

        @if (viewModel.TrackingTicketCollection.Entities.Count > 0)
        {
            <h3>Tracking tickets</h3>
            <TicketCollection viewModel="viewModel.TrackingTicketCollection" />
        }
        else
        {
            <p>There are no tickets tracked by this user</p>
        }
    }
    else
    {
        <p>
            Name:
            <input @bind="viewModel.Entity.Name" class="form-control" placeholder="Name" />

        </p>
        <p>
            Teams:
            <SfMultiSelect TValue="List<Team>" TItem="Team"
                           DataSource="viewModel.TeamsSource"
                           @bind-Value="viewModel.Teams"
                           Placeholder="Members">

                <MultiSelectFieldSettings Text="Name">
                </MultiSelectFieldSettings>


            </SfMultiSelect>

        </p>
        <p>
            <button @onclick="viewModel.Save">Save</button>
            <button @onclick="viewModel.Cancel">Cancel</button>
        </p>
    }
    <br />
    <p>
        <button @onclick="viewModel.Delete">Delete user</button>
    </p>
}